h1,
h2,
span {
  color: brown;
}

div p {
  color: aqua;
}

div p span {
  color: yellow;
}

ul li > span {
  background-color: blue;
}

ul li span {
  color: black;
}

ul li + li {
  border: 2px solid green;
}
